<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Hello, world!</title>
    </head>
    <body>
    <nav class="navbar bg-success p-3">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">
                <img src="logo.png" alt="" width="60" height="50" class="d-inline-block align-text-top">
            </a>

            <ul class="nav justify-content-end">

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <button type="button" class="text-light bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Aprendices
                        </button>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Candidatos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Votaciones</a>
                </li>

            </ul>
            
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Aprendiz</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- <div class="modal-body">
                ...
                </div> -->
                <div class="modal-footer d-flex justify-content-center">
                    <a href="" class="nav-link">
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">
                            Agregar un aprendiz
                        </button>
                    </a>
                    <a href="" class="nav-link">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                            Agregar aprendiz con csv
                        </button>
                    </a>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>