<!-- Vista para la lista de candidatos -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}">

    <title>Candidatos | Sistema de Votación</title>
</head>

<body>
    <header th:insert="~{fragments/admin/header/headerAdmin :: header-admin}"></header>
    <div class="container mt-5">

        <a class="btn btn-primary" th:href="@{/candidatos/create}"
                    title="Crear nuevo candidato" role="button"><i
                    class="fas fa-file" aria-hidden="true"></i> Crear candidato
        </a>
        <div class="row mb-3">
            <div th:if="${msgDanger != null}" class="alert alert-danger" th:text="${msgDanger}" role="alert">
            </div>
            <div th:if="${msgDone != null}" class="alert alert-success" th:text="${msgDone}" role="alert">
            </div>
            <form class="form-inline my-2 my-lg-0 d-flex flex-column flex-lg-row gap-3" method="get" th:action="@{/candidatos/search}" th:object="${search}">
                <div class="col-lg-6">

                    <div class="form-group">
                        <label for="search1" class="form-label">
                            Filtrar por votación:
                        </label>
                        <div class="d-flex gap-2">
                            <div class="col-12 mb-3">
                                <select class="form-select" aria-label="Default select example" id="select" th:field="*{votacion.id}" name="idVotacion">
                                    <option th:each="votacion : ${votaciones}" th:text="${votacion.nombre}" th:value="${votacion.id}"></option>
                                </select>
                            </div>
                            <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
                        </div>

                    </div>

                </div>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="table-success text-center">
                    <tr>
                        <th scope="col">Documento</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Votacion</th>
                        <th scope="col">Propuestas</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr th:each="candidato : ${candidatos}">
                        <td scope="row" th:text="${candidato.aprendiz.id}"></td>
                        <td>
                            <img th:if="${candidato.imagen.id != null}" alt="img" th:src="*{'data:image/jpeg;base64,'+{candidato.imagen.image}}" width="70" height="70">
                        </td>
                        <td th:text="${candidato.aprendiz.nombre} + ' ' + ${candidato.aprendiz.apellido}"></td>
                        <td th:text="${candidato.votacion.nombre}"></td>
                        <td th:text="${candidato.propuestas}"></td>
                        <td th:with="EstadoCandidato=${T(com.senatic.votesys.model.enums.EstadoCandidato)}">
                            <a th:href="@{/candidatos/update/{id} (id=${candidato.id})}">
                                <button class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                    </svg>
                                </button>
                            </a>
                            <a th:if="${candidato.estado == EstadoCandidato.HABILITADO}" th:href="@{/candidatos/disable/{id} (id=${candidato.id})}">
                                <button class="btn btn-success confirmar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                                    </svg>
                                </button>
                            </a>
                            <a th:if="${candidato.estado == EstadoCandidato.INHABILITADO}" th:href="@{/candidatos/enable/{id} (id=${candidato.id})}">
                                <button class="btn btn-secondary confirmar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
                                        <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
                                    </svg>
                                </button>
                            </a>
                            <a th:href="@{/candidatos/delete/{id} (id=${candidato.id})}">
                                <button class="btn btn-danger confirmar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path
                                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                    </svg>
                                </button>
                            </a>
                        </td>
                        <!-- <td class="d-flex flex-column flex-sm-row gap-2 justify-content-center align-items-center p-2">
                            <button class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                            </button>
                            <button class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                </svg>
                            </button>
                        </td> -->
                    </tr>
                </tbody>
            </table>
            <nav th:if="${candidatos.totalPages > 0}"
                aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item"
                        th:classappend="${candidatos.number == 0 ? 'disabled' : ''}">
                        <a
                        th:href="@{/candidatos/view(page=${candidatos.number - 1})}"
                        class="page-link">Anterior</a>
                    </li>

                    <li class="page-item"
                        th:classappend="${i eq candidatos.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, candidatos.totalPages, 1)}">
                        <a class="page-link"
                        th:href="@{/candidatos/view?page={id}(id=${i -1})}"
                        th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>

                    <li class="page-item"
                        th:classappend="${candidatos.number == (candidatos.totalPages - 1) ? 'disabled' : ''}">
                        <a
                        th:href="@{/candidatos/view(page=${candidatos.number + 1})}"
                        class="page-link">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>
        <script>
            // Guardamos en una variable una funcion que muestra un cuadro de dialogo de tipo confirm
            var dialogoConfirm = function(e) {
                if (!confirm('¿Realmente desea eliminar el registro?'))
                    e.preventDefault();
            };
    
            // Aplicamos a todos los elementos HTML que tengan la clase CSS 'confirmar' el evento click para que muestre el cuadro de dialogo de confirmacion. 
            document.querySelectorAll('.confirmar').forEach(function(elemento) {
                elemento.addEventListener('click', dialogoConfirm, false);
            });
        </script>
</body>

</html>