<!-- Vista para la lista de votaciones -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Sistema de Votación | Votaciones</title>
</head>

<body>
    <header th:insert="~{fragments/admin/header/headerAdmin :: header-admin}"></header>
    <div class="container mt-5">
        <a class="btn btn-primary" th:href="@{/votaciones/create}"
        title="Crear nueva votacion" role="button"><i
        class="fas fa-file" aria-hidden="true"></i> Crear votacion
        </a>
        <div class="container my-3">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div th:if="${msgDanger != null}" class="alert alert-danger" th:text="${msgDanger}" role="alert">
                    </div>
                    <div th:if="${msgDone != null}" class="alert alert-success" th:text="${msgDone}" role="alert">
                    </div>
                    <form class="d-flex flex-column gap-2 flex-lg-row align-items-center justify-content-lg-between"
                        method="get" th:action="@{/votaciones/search}">
                        <div class="input-group mb-3 mb-lg-0">
                            <label for="search" class="input-group-text me-2">Título:</label>
                            <input name="nombre" class="form-control" type="text" placeholder="Buscar"
                                aria-label="Buscar" required="required">
                        </div>
                        <div class="input-group mb-3 mb-lg-0">
                            <label for="estado" class="input-group-text me-2">Estado:</label>
                            <select name="estado" id="estado" class="form-select" required="required">
                                <option selected value="null">Seleccionar</option>
                                <option value="CREADA">Creada</option>
                                <option value="ABIERTA">Abierta</option>
                                <option value="CERRADA">Cerrada</option>
                            </select>
                        </div>
                        <button class="btn btn-success mt-3 mt-lg-0" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="table-success text-center">
                    <tr>
                        <!-- Agregar un identificador único a la columna que deseamoa filtrar. utilizaremos el identificador "votacion" para la columna votacion: -->
                        <th scope="col" style="display:none;">Id</th>
                        <th scope="col" id="votacion">Nombre</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Terminacion</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr th:each="votacion : ${votaciones}">
                        <td style="display:none;" scope="row" th:text="${votacion.id}"></td>
                        <td th:text="${votacion.nombre}"></td>
                        <td th:text="${votacion.estado}"></td>
                        <td th:text="${#dates.format(votacion.fechaTerminacion, 'dd-MM-yyyy')}"></td>
                        <td th:with="EstadoVotacion=${T(com.senatic.votesys.model.enums.EstadoVotacion)}">
                            <a th:href="@{/votaciones/edit/{id} (id=${votacion.id})}" class="btn btn-success btn-sm"
                                role="button" title="Editar"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                            <a th:href="@{/votaciones/delete/{id} (id=${votacion.id})}"
                                class="btn btn-success btn-sm confirmar" role="button" title="Eliminar"><i
                                    class="fas fa-trash" aria-hidden="true"></i></a>
                            <a th:if="${votacion.estado == EstadoVotacion.ABIERTA.toString()}"
                                th:href="@{/votaciones/open/{id} (id=${votacion.id})}" class="btn btn-success btn-sm"
                                role="button" title="Cerrar votación"><i class="fas fa-lock" aria-hidden="true"></i></a>
                            <a th:if="${votacion.estado == EstadoVotacion.CERRADA.toString()}"
                                th:href="@{/votaciones/close/{id} (id=${votacion.id})}" class="btn btn-success btn-sm"
                                role="button" title="Abrir votación"><i class="fas fa-unlock" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <nav th:if="${votaciones.totalPages > 0}" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${votaciones.number == 0 ? 'disabled' : ''}">
                    <a th:href="@{/votaciones/view(page=${votaciones.number - 1})}" class="page-link">Anterior</a>
                </li>

                <li class="page-item" th:classappend="${i eq votaciones.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, votaciones.totalPages, 1)}">
                    <a class="page-link" th:href="@{/votaciones/view?page={id}(id=${i -1})}" th:text="${i}"
                        th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>

                <li class="page-item"
                    th:classappend="${votaciones.number == (votaciones.totalPages - 1) ? 'disabled' : ''}">
                    <a th:href="@{/votaciones/view(page=${votaciones.number + 1})}" class="page-link">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>