/* Archivo CSS para el rol "admin" */
input.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}
.dropdown-menu li a:active{
    background-color: white !important;
    color: black;
}