<!-- Forms para agregar aprendiz con CSV -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <title>Sistema de Votación | Agregar CSV</title>
</head>
<body>
    <header th:insert="~{fragments/admin/header/headerAdmin :: header-admin}"></header>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-7 m-auto">
                <form class="form-control d-flex flex-column gap-3" enctype="multipart/form-data" method="POST" th:action="@{/aprendices/create/upload}">
                    <label for="formFile" class="form-label">Agrega archivo csv de los aprendices</label>
                    <input class="form-control" type="file" name="csvFile" id="formFile">
                    <button class="btn btn-success">Enviar Archivo</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>