<!-- Vista para el formulario de adición de aprendices -->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Add aprendiz con Forms</title>
</head>
<body>

    <div class="container mt-3 p-5">
        <form>
            <div class="row w-50 p-3 m-auto">
        
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label" for="select">Tipo de documento:</label>
                        <select class="form-select" aria-label="Default select example" id="select">
                            <option value="1">Cedula ciudadania</option>
                            <option value="2">Tarjeta de identidad</option>
                        </select>
                    </div>
                </div>

                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label" for="ficha">Numero de documento:</label>
                        <input type="number" class="form-control " id="ficha">
                    </div>
                </div>

                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-check-label" for="ficha">Numero de ficha:</label>
                        <input type="number" class="form-control" id="ficha">
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-check-label" for="nombre">Nombre del Aprendiz:</label>
                        <input type="number" class="form-control" id="nombre">
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary rounded-pill">
                        Agregar Aprendiz
                    </button>
                </div>
            </div>

        </form>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>